@charset "utf-8";

@font-face {
    font-family: 'Cafe24Ohsquare';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('Cafe24Ohsquare.woff2') format('woff2'), url('Cafe24Ohsquare.woff') format('woff'), url('Cafe24Ohsquare.ttf') format("truetype");
}